@import "variables";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format(woff2),
  url("../fonts/opensans.woff") format(woff);
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format(woff2),
  url("../fonts/opensanslight.woff") format(woff);
}
@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format(woff2),
  url("../fonts/opensansbold.woff") format(woff);
}
body {
  margin: 0;
  color: $base-color;
  font: $base-font;
}
h1,
h2 {
  margin: 0;
}
.intro__slogan,
.promo-big-text,
.contacts__text,
.contacts__item-info,
.price-slider__list-cost {
  font: $light-font;
  font-size: 24px;
  line-height: 30px;
}
.info__item--name,
.resume__title {
  font: $base-font;
  font-size: 24px;
  color: $green-color;
}
a {
  text-decoration: none;
  outline: none;
  color: $base-color;
  &:hover {
    color: $base-color;
    text-decoration: underline;
    cursor: pointer;
  }
}
cite {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
img {
  vertical-align: bottom;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 959px;
  box-sizing: border-box;
}

.container--header,
.container--footer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Forms */
form {
  background-color: $base-color;
}
.form-block,
.form__btns {
  border: none;
  width: 100%;
  max-width: 959px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}
.form-block {
  background-color: $base-color;
  &__title {
    color: $accent-color;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
    margin: 0 auto;
    position: relative;
    top: 54px;
  }
  &__input,
  &__textarea,
  &__email {
    outline: none;
    background-color: $light-green-color;
    border: none;
  }
  &__input[type="checkbox"],
  &__input[type="radio"] {
    display: none;
  }
  &__input[type="checkbox"] + .form-block__label,
  &__input[type="radio"] + .form-block__label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &:before {
      width: 39px;
      height: 39px;
      margin: 0;
      position: relative;
      flex-shrink: 0;
      //border: 2px solid $base-border-color;
      margin-right: 30px;
    }

    &:hover {
      cursor: pointer;
      &:before {
        border-color: $base-color;
      }
    }
    &:active {
      &:before {
        border-color: $accent-color;
      }
    }
    &:before,
    &:after {
      content: "";
      display: block;
      background: $light-color;
      box-sizing: border-box;
    }
  }
  &__input[type="checkbox"] + .form-block__label {
    &:before {
      border-radius: 3px;
    }
  }
  &__input[type="checkbox"]:checked + .form-block__label {
    &:after {
      width: 22px;
      height: 10px;
      position: absolute;
      top: 11px;
      left: 9px;
      box-sizing: border-box;
      border-left: 2px solid $accent-color;
      border-bottom: 2px solid $accent-color;
      transform: rotate(-45deg);
    }
  }
  &__input[type="radio"] + .form-block__label {
    &:before {
      border-radius: 100%;
    }
  }
  &__input[type="radio"]:checked + .form-block__label {
    &:after {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 12px;
      left: 12px;
      background: $accent-color;
      border-radius: 100%;
    }
  }

  &__input[type="text"],
  &__input[type="tel"],
  &__input[type="email"],
  .form-block__textarea {
    font: $base-font;
    //border: 2px solid $base-border-color;
    padding: 17px 20px 18px;
    font-size: 18px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    &::placeholder {
      color: $light-color;
    }
    &:hover {
      border-color: $base-color;
    }
    &:focus {
      border-color: $accent-color;
    }
  }
  .form-block__textarea {
    line-height: 30px;
    padding: 14px 18px;
  }
}
.btn {
  display: block;
  text-align: center;
  outline: none;
  font: $base-font;
  font-size: 18px;
  line-height: 50px;
  background: $green-color;
  color: $base-color;
  text-transform: uppercase;
  border: none;
  //transition: background-color 0.2s ease-out 0.2s, color 0.2s ease-out 0.2s;
  border-radius: 50px;
  &:hover {
    cursor: pointer;
  }
  &--hire {}
  &--download {}
  &--submit,
  &--popup {
    margin: 0 auto;
    border: none;
    color: $light-color;
    border-radius: 3px;
    //background-color: $success-color;
    text-transform: uppercase;
    padding: 16px 16px 17px;
    width: 100%;
    &:hover {
      //background-color: darken($success-color, 4.25%);
    }
    &:active {
      color: rgba($light-color, .3);
    }
  }
  &--send {
    width: 120px;
  }
  &--send:disabled {
    //background-color: $base-border-color;
  }
  &--inprogress {

  }
  &--post,
  &--cancel {
    padding: 8px 0 11px;
  }
  &--post {
    border-color: $accent-color;
    color: $accent-color;
    &:hover {
      background: $accent-color;
      color: $light-color;
    }
    &:active {
      color: rgba($light-color, .3);
    }
  }
  &--cancel {
    border-color: rgba($base-color, 0.1);
    color: rgba($base-color, 0.1);
    &:hover {
      border-color: rgba($base-color, 0.3);
      color: rgba($base-color, 0.3);
    }
    &:active {
      border-color: transparent;
      background: rgba($base-color, 0.3);
      color: rgba($light-color, .3);
    }
  }
}

@media (min-width: 660px) {
  .intro__slogan--index,
  .promo-big-text,
  .contacts__text,
  .price-slider__list-cost {
    font-size: 40px;
    line-height: 48px;
  }
  form {
    .form-block {
      .form-block__title {
        top: 0;
        padding: 0 31px;
        margin-bottom: 0;
      }
      &__input[type="checkbox"] + .form-block__label:before,
      &__input[type="radio"] + .form-block__label:before {
        margin-right: 21px;
      }
      &__input[type="text"],
      &__input[type="tel"],
      &__input[type="email"],
      .form-block__textarea {
        font: 400 18px/30px "Open Sans";
        padding: 14px 21px 15px;
      }
      &__input[type="tel"] {
       //background: url("../img/icon-phone.svg") 456px center no-repeat;
      }
      &__input[type="email"] {
       // background: url("../img/icon-mail.svg") 457px center no-repeat;
      }
      .form-block__textarea {
        padding: 14px 19px;
      }
    }
  }
}
@media (min-width: 960px) {

  h1,
  .promo-big-text,
  .contacts__text {
    font-size: 50px;
    line-height: 60px;
  }
  h2,
  cite,
  .price-slider__list-title,
  .contacts__item-title,
  .ad__title {
    font-size: 30px;
    line-height: 32px;
  }
  form {
    .form-block__input[type="tel"] {
      background-position: 332px center;
    }
    .form-block__input[type="email"] {
      background-position: 333px center;
    }
  }
}