$base-font: 14px/24px "Open Sans", "Tahoma", sans-serif;
$light-font: 14px/24px "Open Sans Light", "Tahoma", sans-serif;
$bold-font: 14px/24px "Open Sans Bold", "Tahoma", sans-serif;
$base-color: #fff;
$light-color: #355267;
$dark-color: #203748;
$accent-color: #f04949;
$light-bg-color: #e4e4e4;
$green-color: #39d084;
$light-green-color: #ddf3e0;
$orange-color: #ee742b;
$blue-color: #30a5dc;